@*@using AKS.ViewModel.ExchangeVM;
    @model ExistingItemVM*@
@{
    ViewBag.Title = "Exchange - System Invoice ";
}
<div class="row newTable">
    @*@using (Html.BeginForm())
        {*@
    <div class="fixedElement">
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button id="btnBack" type="button"
                            onclick="window.location.href='/Exchange/Index';"
                            class="btn btn-white me-2">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="button" disabled
                            onclick="SubmitBtnClicked()"
                            class="btn btn-secondary me-2">
                        <i data-feather="check-circle"></i>
                        Save
                    </button>
                    @*<button id="btnScan" type="button"
                                onclick="UploadFile()"
                                class="btn btn-white">
                            <i data-feather="upload"></i>
                            Upload Document
                        </button>*@
                    @*<button id="btnScanView" type="button"
                                onclick="ViewUploadedFile()"
                                class="btn btn-light-green inVisible">
                            <i data-feather="eye"></i>
                            View Document
                        </button>*@
                </div>
                <h2>Exchange - System Invoice </h2>
                <div class="rightButton">
                    @*<button id="btnAddVendor" type="button"
                                onclick="AddVendorClicked()"
                                class="btn btn-secondary me-2">
                            <i data-feather="plus"></i>
                            Add Customer
                        </button>*@
                </div>
            </div>
        </div>
    </div>
    <div id="HdrDIV" class="col-md-12 mb-4" style="vertical-align:central">
        <div class="card mb-4 mt-4" style="vertical-align:central">
            <div class="card-body approvalForm">
                <div class="row d-flex align-items-center mb-12">
                    <label class="col-form-label col-md-2">
                        Invoice Number :
                    </label>
                    <div class="col-md-2">
                        <input id="InvoiceNumberCtrl" class="form-control" type="text" onkeyup="InvoceNumberChanged()" />
                    </div>
                    <div class="col-md-3">
                        <button id="btnGetInvDtl" type="button" disabled
                                onclick="GetInvoiceDetails()"
                                class="btn btn-light-green">
                            <i data-feather="eye"></i>
                            Get Details
                        </button>
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-12">
                    <label class="col-form-label col-md-2">
                        Date :
                    </label>
                    <div id="cInvDate" class="col-md-2">
                    </div>
                    <label class="col-form-label col-md-1">
                        Customer :
                    </label>
                    <div class="col-md-5">
                        <div id="cCustomer" class="position-relative pointer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 mb-4">
        <table class="w-100">
            <tr>
                <td style="width:20%">Category :</td>
                <td style="width:80%" class="cattext">
                </td>
            </tr>
            <tr>
                <td>Item :</td>
                <td class="itemtext">
                </td>
            </tr>
        </table><br />
        <table class="table table-bordered w-100" id="tblItemVariant">
            <thead>
                <tr>
                    <td style=""><b>VariantId</b></td>
                    <td style="width:40%"><b>Variant</b></td>
                    <td style="width:10%"><b>Weight</b></td>
                    <td style="width:10%"><b>Rate</b></td>
                    <td style="width:10%"><b>Discount</b></td>
                    <td style="width:10%"><b>Amount</b></td>
                    <td style="width:10%"><b>Revised Rate (With Gold Discount)</b></td>
                    <td style="width:10%"><b>Revised Amount</b></td>
                </tr>
            </thead>
            <tbody id="VariantBody">
            </tbody>
        </table>
        <br />
        <table class="table table-bordered w-100">
            <thead>
                <tr>
                    <td><b>Item Code</b></td>
                    <td><b>Making Charge</b></td>
                    <td><b>Taxable Amount</b></td>
                    <td><b>GST</b></td>
                    <td><b>Invoice Amount</b></td>
                    <td><b>Revised Amount</b></td>
                    <td><b>Wear n Tear Discount</b></td>
                    <td><b>Exchange Value</b></td>
                    <td><b>GST On Exchange Value</b></td>
                    <td><b>Net Exchange Value</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input id="InputItemCode" class="form-control" type="text" disabled /></td>
                    <td id="billmc"></td>
                    <td id="billtaxable"></td>
                    <td id="billgst"></td>
                    <td id="billamt"></td>
                    <td id="revamt" class="bggreen"></td>
                    <td class="">
                        <input id="InputwtDiscount" class="form-control"
                               type="text" value="0" onkeyup="InputwtDiscountChanged()" />
                    </td>
                    <td class="">
                        <input id="InputExchangeValue" class="form-control"
                               type="text" disabled />
                    </td>
                    <td id="gstOnExchange"></td>
                    <td id="netExchange"></td>
                </tr>
            </tbody>
        </table>
    </div>
    @*}*@
</div>
@section headers{
    <style>
        .bggreen {
            background-color: aquamarine !important;
        }
    </style>
}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/Exchange/ExistingInv.js"></script>

}

