@using AKS.ViewModel.POSVM;
@model ProBillProcessingVM
@{
    ViewBag.Title = "POS - Provisional Bill Processing ";
}
<div class="row newTable">
    @*@using (Html.BeginForm())
        {*@
    <div class="fixedElement">
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button id="btnBack" type="button"
                            onclick="window.location.href='/POS/ProBillConversion';"
                            class="btn btn-white me-2">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                    <button id="btnSubmit" type="button" disabled
                            onclick="SubmitBtnClicked()"
                            class="btn btn-secondary me-2">
                        <i data-feather="check-circle"></i>
                        Make Tax Invoice
                    </button>
                </div>
                <h2>Provisional Bill Processing </h2>                
            </div>
        </div>
    </div>
    <div id="HdrDIV" class="col-md-12 mb-4" style="vertical-align:central">
        <div class="card mb-4 mt-4" style="vertical-align:central">
            <div class="card-body approvalForm">
                <div class="row d-flex align-items-center">
                    <label class="col-form-label col-md-2">
                        Provisional Bill :
                    </label>
                    <div class="col-md-3">
                        <select id="cProvisionalBill"
                                onchange="ChangeProvisionalBill()"
                                class="form-select content border-red myctrlw100 is-invalid"
                                aria-label="Default select example">
                            <option selected value="">Select Provisional Bill</option>
                            @if (Model.ProBillList != null && Model.ProBillList.Count > 0)
                            {
                                foreach (var item in Model.ProBillList)
                                {
                                    <option value="@item.ID">@item.DisplayText</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-5">
                        <table>
                            <tr>
                                <td>Provisional Bill Date : </td>
                                <td> <div id="billDateDiv"></div></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">Customer: </td>
                                <td>
                                    <div id="CustomerDiv" style="font-weight:bold"></div>
                                    <div id="CustomerAddressDiv"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
        <div id="ProBillHdrDiv" class="card mb-4 mt-4" style="vertical-align:central">
            <div class="card-body">
                <div class="table-responsive max-content">
                   
                </div>
            </div>
        </div>
        <div class="card mb-4 mt-4">
            <div class="card-body approvalForm">
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Item Total :
                    </label>
                    <div class="col-md-3">
                        <input id="cItemTotal" type="text" disabled
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Trade Discount :
                    </label>
                    <div class="col-md-3">
                        <input id="cTradeDiscount" type="text"
                               onkeyup="FooterValueChanged()"
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Taxable Amount :
                    </label>
                    <div class="col-md-3">
                        <input id="cTaxableAmount" type="text" disabled
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        GST %:
                    </label>
                    <div class="col-md-3">
                        <input id="cGST" type="text"
                               onkeyup="FooterValueChanged()"
                               @*onchange="ValidateGST()"*@
                               class="form-control"
                               value="3">
                    </div>
                    <label class="col-form-label col-md-2">
                        GST Amount:
                    </label>
                    <div class="col-md-3">
                        <input id="cGSTAmount" type="text" disabled
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Is IGST :
                    </label>
                    <div class="col-md-2">
                        <select id="cIsIGST" data-name="IsIGST"
                                class="form-select myctrlw100"
                                aria-label="Default select example">
                            <option selected value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2 btn-success">
                        Bill Amount :
                    </label>
                    <div class="col-md-3">
                        <input id="cNetPayable" type="text" disabled
                               class="form-control btn-success"
                               value="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 mt-4">
            <div class="card-body approvalForm">
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Advance Amount Received :
                    </label>
                    <div class="col-md-2">
                        <input id="cAmountReceivedOrder" type="text" disabled
                               onkeyup="FooterValueChanged()"
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Amount Received :
                    </label>
                    <div class="col-md-2">
                        <input id="cAmountReceived" type="text"
                               onkeyup="FooterValueChanged()"
                               class="form-control"
                               value="0">
                    </div>
                    <label class="col-form-label col-md-2">
                        Mode Of Receipt :
                    </label>
                    <div class="col-md-2">
                        <select id="cReceiptMode" data-name="ItemCatCode"
                                class="form-select myctrlw100"
                                aria-label="Default select example">
                            <option selected value="">Select Mode</option>
                            <option value="1">Cash</option>
                            <option value="2">Cheque</option>
                            <option value="3">Online Transfer</option>
                            <option value="9">Other</option>
                        </select>
                    </div>
                    <label class="col-form-label col-md-2">
                        Reference No :
                    </label>
                    <div class="col-md-2">
                        <input id="cReceiptRef" type="text"
                               class="form-control"
                               value="">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2">
                        Cash Discount :
                    </label>
                    <div class="col-md-2">
                        <input id="cCashDiscount" type="text"
                               onkeyup="FooterValueChanged()"
                               class="form-control"
                               value="0">
                    </div>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <label class="col-form-label col-md-2 btn-light-green">
                        Balance :
                    </label>
                    <div class="col-md-2">
                        <input id="cAmountBalance" type="text" disabled
                               class="form-control btn-light-green"
                               value="0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*}*@
</div>
@section headers{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/POS/ProBillProcessing.js"></script>

}
