
@{
    ViewBag.Title = "POS - Provisional Bill History ";
}
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12" style="position: relative;">
            <div class="heading_text_btn mb-4 mt-4">
                <div class="leftButton">
                    @*<button type="submit" class="btn btn-primary me-2" 
                            onclick="window.location.href='/POS/ProBillProcessing';">
                        <i data-feather="plus-circle"></i>
                        Add
                    </button>*@
                </div>
                <h2>History Of Provisional Bill Processing</h2>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="table-responsive mb-4 ">
            <table id="tblDataList" class="table table-bordered btnalign w-100">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Provisional Bill</th>
                        <th scope="col" style="width: 10%">Date</th>
                        @*<th scope="col">Entry Date</th>*@
                        <th scope="col" style="width: 15%">Created By</th>
                        <th scope="col" style="width: 5%">IsProcessed</th>
                        <th scope="col" style="width:10%">Invoice Number</th>
                        <th scope="col" style="width: 10%">Invoice Date</th>
                        @*<th scope="col" style="width: 10%">Conversion Date</th>*@
                        <th scope="col" style="width: 15%">Conversion By</th> 
                        <th scope="col" style="width: 10%; background-color: #ff7500; color: white;text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
@section headers{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/POS/ProBillConversion.js"></script>

}

