<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aap Ki Sakhi</title>
    <!-- Bootstrap CSS -->
    <link href="~/UIContent/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="~/UIContent/CSS/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/style.css" rel="stylesheet" />
    <!-- Time Picker CSS -->
    <link rel='stylesheet' href='~/UIContent/CSS/font-awesome.min.css'>
    <link rel='stylesheet' href='~/UIContent/CSS/bootstrap-datetimepicker.min.css'>
    @RenderSection("headers", required: false)
</head>
<body>
    <div class="container-fluid p-0">
        <div class="">
            <main role="main" class="main-content px-md-4 " id="mains">
                <div class="col-md-12"></div>
                @RenderBody()
            </main>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>