@model AKS.ViewModel.UserVM.SelectPCVM
@{
    Layout = null;
}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="~/UIContent/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="~/UIContent/CSS/style.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />
    <title>Aap Ki Sakhi</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=>m.UserID)
        <div class="container-fluid p-0 login-bg-img">
            <div class="content-wrapper justify-content-center align-items-center position-relative bg-transparent overflow-auto">
                <div class="login-inner">
                    <div class="row w-100">
                        <div class="col-md-3 mx-auto">
                            <div class="login-outer">
                                <div style="margin:30px">
                                    <img src="~/img/MainImage100.png" alt="Aap Ki Sakhi - logo" class="img-fluid">
                                </div>
                                <div style="margin-top:50px">
                                    <div class="form-group" style="margin-bottom:30px">
                                        <h6>Welcome Back</h6>
                                        <h4>@Model.UserName</h4>
                                    </div>
                                        <div class="form-group">
                                            <label class="d-flex">Profit Centres<span></span></label>
                                            @if (Model.ProfitCentreList != null)
                                            {
                                                @Html.DropDownListFor(m => m.PCID,
                                                new SelectList(Model.ProfitCentreList, "PCID", "PCDesc"), "Select Profit Centre",
                                                htmlAttributes: new
                                                {
                                                    @class = "form-select pointer",
                                                    onchange = "ProfitCentreSelcted()"
                                                })
                                            }
                                        </div>
                                        <div class="mt-3">
                                            <button id="btnProceed" type="submit"
                                                    name="Submit" value="Proceed" disabled
                                                    class="btn btn-success w-100">
                                                Proceed...
                                            </button>
                                        </div>
                                        @*<div class="forgetPWD">
                <a href="#" class="auth-link ">Forgot password?</a>
            </div>*@
                                        @*</form>*@
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row w-100 mt-3">
                        <div class="col-md-8 mx-auto">
                            <div class="footer-bottom">

                                <p class="copyright-text border-grey">©2023 Inc. All rights reserved.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    }
    <script src="~/UIContent/JS/jquery-3.6.0.min.js"></script>
    <script src="~/UIContent/JS/sweetalert2.all.min.js"></script>

    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/User/LogInJS.js"></script>
    
</body>

</html>