@model AKS.BOL.Accounts.Journal
@{
    ViewBag.Title = "Print Voucher";
    Layout = "~/Views/Shared/_PrintLayOutNoHeaderImg.cshtml";
}
<div class="mt-4" style="text-align:center">
    <h1>@(Model.Header.VoucherType=="JV"?"Journal Voucher":"")</h1>
</div>
@{Html.RenderPartial("_VoucherPrint", Model);}
<div class="mb-4" style="vertical-align:central">
    <div class="card-body approvalForm">
        <div style="padding-left:10px">
            Print Time :
            @DateTime.Today.ToString("dd-MM-yyyy hh:mm:ss tt")
        </div>
    </div>
</div>
