@model AKS.ViewModel.AccountsVM.GLSummaryVM
@{
    ViewBag.Title = "Print GL Summary";
    Layout = "~/Views/Shared/_PrintLayOutNoHeaderImg.cshtml";
}
<div style="text-align:center;color:white">
    <h1></h1>
</div>
@{Html.RenderPartial("_GlDetails", Model);}
<div class="mb-4" style="vertical-align:central">
    <div class="card-body approvalForm">
        <div style="padding-left:10px">
            Print Time :
            @DateTime.Today.ToString("dd-MM-yyyy hh:mm:ss tt");
        </div>
    </div>
</div>
