
@{
    ViewBag.Title = "StockV2";
}
<div class="row mt-3 pt-1">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card mb-3">
            <div class="card-header bg-success text-white">Category Wise Stock As On @DateTime.Today.ToString("dd-MM-yyyy")</div>
            <div class="card-body bg-light">
                <div class="table-responsive mb-4 ">
                    <table id="tblCatStockList" style="width:100%" class="table table-bordered btnalign">
                        <thead>
                            <tr>
                                <th scope="col" style="width:10%">Code</th>
                                <th scope="col">Description</th>
                                <th scope="col" style="width: 10%">APP</th>
                                <th scope="col" style="width: 10%">PUR</th>
                                <th scope="col" style="width: 10%">Total</th>
                                <th scope="col" style="width: 5%; background-color: #ff7500; color: white;text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-light" style="text-align:right">
                <a href="@Url.Action("GeneratePdfForStockSummaryV2","Common", new {PdfFileName="Stock On "+DateTime.Today.ToString("dd-MM-yyyy") })"
                   class="btn btn-outline-warning">
                <i data-feather="printer"></i>
                Print
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Vendor Wise Stock As On @DateTime.Today.ToString("dd-MM-yyyy")</div>
            <div class="card-body bg-light">
                <div class="table-responsive mb-4 ">
                    <table id="tblVWCatStockList" style="width:100%;font-size:smaller" class="table table-bordered btnalign">
                        <thead>
                            <tr>
                                <th scope="col" style="width:50%">Vendor</th>
                                <th scope="col">Category</th>
                                <th scope="col" style="width: 10%">Qty</th>                                
                                <th scope="col" style="width: 5%; background-color: #ff7500; color: white;text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-light" style="text-align:right">
                <a href="@Url.Action("GeneratePdfForVWStockSummaryV2","Common", new {PdfFileName="Vendor Wise Stock On "+DateTime.Today.ToString("dd-MM-yyyy") })"
                   class="btn btn-outline-warning">
                    <i data-feather="printer"></i>
                    Print
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/Inventory/StockV2.js"></script>

}

