@model AKS.BOL.Inventory.StocksV2
@{
    ViewBag.Title = "Inventory - Stock Item Transactions";
}
<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12">
            <div class="heading_text_btn mb-3 mt-4">
                <div class="leftButton">
                    <button id="btnBack" type="button"
                            onclick="window.location.href='/Inventory/StockV2';"
                            class="btn btn-white me-2">
                        <i data-feather="arrow-left-circle"></i>
                        Back
                    </button>
                </div>
                <h2>Stock Item Transactions </h2>
                <div class="rightButton">
                    <a class="btn btn-secondary" href="@Url.Action("GeneratePdfForStockItemTrans","Common", new {CatCode=Model.CatCode, PdfFileName="Item Tran "+Model.CatCode })">
                        <i data-feather="printer"></i>
                        Print
                    </a>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_StockItemDtls", Model);}
</div>
@section headers{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    @*<script src="~/UIContent/JS/CustomePage/Inventory/AppStockViewJS.js"></script>*@

}

