
@{
    ViewBag.Title = "Inventory - Stock On Approval ";
}

<div class="row newTable">
    <div class="fixedElement">
        <div class="col-md-12" style="position: relative;">
            <div class="heading_text_btn mb-4 mt-4">
                <div class="leftButton">
                    <button type="submit" class="btn btn-primary me-2" onclick="window.location.href='/Inventory/AddAppStock';">
                        <i data-feather="plus-circle"></i>
                        Add
                    </button>
                </div>
                <h2>History Of Stock Brought On Approval </h2>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="table-responsive mb-4 ">
            <table id="tblDataList" style="width:100%" class="table table-bordered btnalign">
                <thead>
                    <tr>
                        <th scope="col" style="width:10%">Document Number</th>
                        <th scope="col" style="width: 10%">Entry Date</th>
                        <th scope="col">Vendor</th>
                        <th scope="col" style="width: 10%">Vendor Document</th>
                        <th scope="col" style="width: 10%">Vendor Document Date</th>
                        <th scope="col" style="width: 5%">Item Count</th>
                        <th scope="col" style="width: 5%">Qty Count</th>
                        <th scope="col" style="width:10%">MRN Number</th>
                        <th scope="col" style="width: 10%">MRN Date</th>
                        <th scope="col" style="width: 10%; background-color: #ff7500; color: white;text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>
@section headers{

}
@section scripts{
    <script src="~/UIContent/JS/CustomePage/CommonReusableJS.js"></script>
    <script src="~/UIContent/JS/CustomePage/Inventory/ApproveStockDataTableJS.js"></script>

}
